# 1- Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [60]:
le = int(input('Admit into length of the rectangle:'))

Admit into length of the rectangle:53

In [62]:
 brh = int(input("Admit into breadth of the rectengle:"))

Admit into breadth of the rectengle:53

In [63]:
if le == brh:
    print('This is square')
else:
    print('This is not square')

This is square

# 2-Take three integer values from the user and print the greatest among them.

In [64]:
a = int(input("Enter your salary: "))

Enter your salary: 50000

In [65]:
b = int(input('Enter your salary: '))

Enter your salary: 540000

In [66]:
c = int(input("Enter your salary: "))

Enter your salary: 50000

In [67]:
if (a >=b) & (a >= c):
    print('A is Big salary: ',a)    
elif (b >= c):
    print('B is Big salary: ',b)
else:
    print('C is Big salary: ',c)

B is Big salary:  540000

# 3- A student will not be allowed to sit in an exam if his/her attendance is less than 75%

In [68]:
classHold = int(input('How many classes held :'))

How many classes held :30

In [69]:
classAttend = int(input("How many classes Attend by student:"))

How many classes Attend by student:30

In [70]:
per = classHold / classAttend * 100

In [71]:
print('Total percentage of this student is', per,"%")

Total percentage of this student is 100.0 %

In [72]:
if per <75:
    print('This student cannot be sit in exam')
else:
    print('This student can be sit in exam')

This student can be sit in exam

# 4- A school has the following rules for the grading system:

In [6]:
total=int(input("Enter the maximum mark of a subject: "))

Enter the maximum mark of a subject: 88

In [7]:
sub1=int(input("Enter marks of the first subject: "))

Enter marks of the first subject: 66

In [8]:
sub2=int(input("Enter marks of the second subject: "))

Enter marks of the second subject: 77

In [9]:
sub3=int(input("Enter marks of the third subject: "))

Enter marks of the third subject: 88

In [10]:
sub4=int(input("Enter marks of the fourth subject: "))

Enter marks of the fourth subject: 87

In [11]:
sub5=int(input("Enter marks of the fifth subject: "))

Enter marks of the fifth subject: 84

In [12]:
average=(sub1+sub2+sub3+sub4+sub5)/5 
print("Average is ",average)
percentage=(average/total)*100
print("According to the percentage, ")
if percentage >= 90:
    print("Grade: A+")
elif percentage >= 80 and percentage < 89:
    print("Grade: A")  
elif percentage >= 70 and percentage < 79:
    print("Grade: A-")
    
elif percentage >= 60 and percentage < 69:
    print("Grade: B")
    
elif percentage >= 50 and percentage < 59:
    print("Grade: C")
    
elif percentage >= 45 and percentage < 49:
    print("Grade: D")
    
elif percentage >= 24 and percentage < 44:
    print("Grade: E")
else:
    print("Grade: F")

Average is  80.4
According to the percentage,
Grade: A+

# 5- Print the following pattern using for and while loop.

In [14]:
for qtv in range(8,4,-1):
        print(k, end =" ")
    print()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [15]:
for i in range(12,7,-1):
    for j in range(1,i):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7

In [16]:
i = 8 
while i > 4:
    j = 1
    while j < i:
        print(j, end=" ")
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

while k >7:
    j = 1
    while j< k:
        print(j,end=" ")
        j += 1
    print()    
    k -= 1

# 6- Display numbers from -100 to -10 using for loop.¶

In [17]:
for i in range(-100,-10):
    print(i,end = "")

-100-99-98-97-96-95-94-93-92-91-90-89-88-87-86-85-84-83-82-81-80-79-78-77-76-75-74-73-72-71-70-69-68-67-66-65-64-63-62-61-60-59-58-57-56-55-54-53-52-51-50-49-48-47-46-45-44-43-42-41-40-39-38-37-36-35-34-33-32-31-30-29-28-27-26-25-24-23-22-21-20-19-18-17-16-15-14-13-12-11

# 7- Write a program to sum all prime numbers within a range of 10 to 1000.

In [18]:
def is_prime(num):
    if num == 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

In [19]:
def sum_of_primes_in_range(start, end):
    prime_sum = 0
    for num in range(start, end +1):
        if is_prime(num):
            prime_sum += num
    return prime_sum

In [20]:
print(sum_of_primes_in_range(10, 1000))

76110

# 8- Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [21]:
n = 7
factorial = 1

for i in range(1, n+1):
    factorial *= i

print(factorial)

5040

# 9- Reverse a given integer number 27956240710.

In [22]:
def reverse_integer(num):
    reversed_num = 0
    while num != 0:
        last_digit = num % 10
        num = num // 10
        reversed_num = reversed_num * 10 + last_digit
    return reversed_num

num = 27956240710
print(reverse_integer(num))

1704265972

# 10- Print the following pattern using for and while loop.

In [23]:
for i in range (4):
    if i < 2:
        for j in range(3 + i):
            print("#", end=" ")
    else:
        for j in range(5 - i):
            print("#", end=" ")
    print("")

# # #
# # # #
# # #
# #

# 11- Display the Fibonacci series of 15 elements using the for and while loop.

In [24]:
def fibonacci_series_for(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b
    print()

fibonacci_series_for(15)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# 12- Remove 2 and add 3 to the list and replace True with False.

In [25]:
Li = [1,3,5, [2,3], True]

In [26]:
Li[3] = [3,3]

In [27]:
Li[-1] = False

In [28]:
Li

[1, 3, 5, [3, 3], False]

# 13- Find the intersection (common) of two sets.

In [29]:
S1 = {1,4,6,8}

In [30]:
S2 = {True, 1,2,10}

In [31]:
S3 = S1.intersection(S2)

In [32]:
S3

{True}

In [33]:
S4 = S2.intersection(S1)

In [34]:
S4

{True}

# 14- Input a list from the user then Remove duplicates from a list and create a set and find the max

In [35]:
User_input = [1,9,3,4,5,200,54]

In [36]:
user_input = input("Enter a list of numbers, separated by spaces: ")

Enter a list of numbers, separated by spaces:

In [37]:
user_list = list(map(int, user_input.split()))

In [38]:
unique_set = set()

In [39]:
max_num = float("-inf")

In [40]:
for num in user_list:
    if num not in unique_set:
        unique_set.add(num)
        if num > max_num:
            max_num = num

In [41]:
print("Original list: ", user_list)
print("Set with duplicates removed: ", unique_set)
print("Maximum number in the set: ", max_num)

Original list:  []
Set with duplicates removed:  set()
Maximum number in the set:  -inf

# 15- Rename the key of a dictionary.

In [42]:
dic = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }

In [43]:
dic ={
    "name": "Shakil",
    "age": 27, 
    "city": "Berlin",
    "country": "Germany"
     }

In [44]:
dic['Work'] = "Data Science"

In [45]:
print(dic)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany', 'Work': 'Data Science'}

# 16- Creating a data frame using the list.

In [46]:
import pandas as pd

In [47]:
num = [10,100,300]

In [48]:
df1 = pd.DataFrame(num,columns=['Number'])
df1

   Number
0      10
1     100
2     300

# 17- Change the value of a key in a given dictionary.

In [51]:
Dict = { "name": "Shakil", "age":27, "city":'Berlin', "country": "Germany" }

In [52]:
Dict["country"] = 'Bangladesh'

In [53]:
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Bangladesh'}